body {
	margin: 0;
	font-family: vollkorn;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	color: #CC3300;
	/*color: #B82500;*/
}

.profiles a {
	color: #fff;
}

.profiles a:hover {
	color: #CC3300;
	/*color: #B82500;*/
}

h1 {
	font-size: 3em;
	font-weight: 100;
	margin: 0;
	/*line-height: 1em;*/
}

.text-center {
	text-align: center;
}

.name-separator {
	width: 10%;
	border: 0;
	color: #fff;
	background-color: #fff;
	height: 1px;
	margin-bottom: 1em;
}

.subtitle {
	font-style: italic;
}

.section {
	margin-top: 2em;
}

.contact-icon {
	margin: 0em .25em 0 1em;
}

.divider {
	display: block;
	margin: .5em 0 .5em 0;
}

.address {
	display: block;
}

.about {
	margin: 0 8em;
}

.container {
	margin: 2em 0 2em 0;
	overflow: hidden;
}

.midd-sunset {
	max-height: 300px;
	text-align: center;
}

.photos {
	max-height: 150px;
}

.photo {
	display: inline-block;
	max-height: 150px;
	/*height: 100%;*/
}

/*.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}*/

.project {
	display: block;
}

.hero {
	background-color: #555;
	background-image: url('assets/midd-sunset-dark.jpg');
	position: relative;
	margin: 0;
	padding: 3em 1em;
	text-align: center;
	background-position: center center;
	background-size: cover;
	color: white;
}






