a {
	text-decoration: none;
	color: #000;
}

a:hover {
	color: #B82500;
}

.text-center {
	text-align: center;
}

.header {
	font-family: vollkorn;
	margin: 1em;
}

#name {
	/*margin-bottom: 0;*/
}

#address {
	/*font-family: garamond;*/
	display: block;
}

.contact-icon {
	margin: 0em .25em 0 1em;
}

.divider {
	display: block;
}