body {
	margin: 0;
	font-family: vollkorn;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	color: #CC3300;
	/*color: #B82500;*/
}

.profiles a {
	color: #fff;
}

.profiles a:hover {
	color: #CC3300;
	/*color: #B82500;*/
}

.inline {
	color: #CC3300;
}

.inline:hover {
	color: #CC3300;
	text-decoration: underline;
}

/* social profile spacing - mobile first */
.profile {
	display: block;
}

@media only screen and (min-width: 500px) {
	.profile {
		display: inline-block;
	}
}

/* header sizing - mobile first */
h1 {
	font-size: 2em;
	font-weight: 100;
	margin: 0;
	/*line-height: 1em;*/
}

@media only screen and (min-width: 800px) {
	h1 {
		font-size: 2.5em;
		/*line-height: 1em;*/
	}
}

h2 {
	margin: 2em 1em .25em 1em;
}

.text-center {
	text-align: center;
}

.name-separator {
	width: 25%;
	border: 0;
	/*color: #fff;*/
	background-color: #fff;
	height: 1px;
	margin-bottom: 1em;
}

.separator {
	width: 80%;
	border: 0;
	background-color: #000;
	height: 1px;
	margin-top: 3em;
	margin-bottom: 3em;
}

@media only screen and (min-width: 800px) {
	.name-separator {
		width: 10%;
	}
}

.subtitle {
	font-style: italic;
}

.section {
	margin-top: 2em;
}

.contact-icon {
	margin: 0em .25em 0 1em;
}

.divider {
	display: block;
	margin: .5em 0 .5em 0;
}

.address {
	display: block;
}

/* margins for about sections - mobile first */
.about {
	margin: 0 2em;
}

@media only screen and (min-width: 500px) {
	.about {
		margin: 0 10em;
	}
}

@media only screen and (min-width: 1200px) {
	.about {
		margin: 0 25em;
	}
}

.container {
	margin: 2em 0 2em 0;
	overflow: hidden;
}

.midd-sunset {
	max-height: 300px;
	text-align: center;
}

.photo {
	display: inline-block;
	max-height: 150px;
	/*height: 100%;*/
}

.photos {
	margin: 5em 0 0 0;
}

@media only screen and (min-width: 500px) {
	.photos {
		margin: 5em 5em 0 5em;
	}
}

.project {
	display: block;
}

.hero {
	background-color: #555;
	position: relative;
	margin: 0;
	padding: 3em 1em;
	text-align: center;
	background-position: center center;
	background-size: cover;
	color: white;
}

.hero.sunset {
	background-image: url('assets/midd-sunset-dark.jpg');

}

.hero.lennon {
	background-image: url('assets/lennon.png');
	padding: 5em 10em;
}

.hero.axes {
	background-image: url('assets/axes.png');
	padding: 5em 5em;
}

.hero.tibet {
	background-image: url('assets/tibet.png');
	padding: 5em 10em;
}

.hero.team {
	background-image: url('assets/team.png');
	padding: 5em 10em;
}

.hero.everest {
	background-image: url('assets/everest.png');
	padding: 5em 8em;
}

.hero.emerald-lake {
	background-image: url('assets/emerald-lake.png');
	padding: 5em 10em;
}

.hero.alex {
	background-image: url('assets/alex.png');
	padding: 5em 4em;
}

.puzzle {
	display: inline-block;
	margin: 2em;
}

.puzzle-image {
	max-width: 20em;
}

.puzzle-image.large {
	max-width: 20em;
}

@media only screen and (min-width: 500px) {
	.puzzle-image.large {
		max-width: 28em;
	}
}

.video {
	width: 100%;
	height: 30em;
	margin-bottom: 5em;
}
